<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atharva Kulkarni</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
</head>
<body>
    <div class="parent">
        <h1 id="logo"><a href="#socials">Social Media</a></h1>
        <img src="/static/menu.svg" class="hide" onclick="togglemenu()">
		<div class="navbar" id="nav">
      	    <a id="hom" href="/">Home</a>
      	    <a id="abt" href="#contact">About</a>
            <a id="pro" href="#projects">Projects</a>
      	    <a id="con" href="/contact">Contact</a>
            <a id="social" href="#socials">Socials</a>
        </div>
    </div>

    <div class="content">
        <div class="main">
          <h1>ATHARVA KULKARNI</h1>
          <p>
            <span id="question"></span>
            <br>
            <span id="punchline"></span>
          </p>
          <button onclick="oncon()" id="contact"><b>Contact</b></button>
        </div>
        <img id="mainlogo" src="/static/logo.png" alt="logo here">
      </div>
      

    <div class="content2">
        <div class="frame">
            <img id="aboutlogo" src="/static/profile.jpg" alt="logo here">
        </div>
        <div class="about" id="about">
            <h1>ABOUT ME</h1>
            <p>Hi, my name is Atharva Kulkarni and I live in India. I enjoy coding and I'm currently studying
            Java and Flask for backend development. I'm also a verified Discord Bot Developer and Web developer.
            I'm interested in artificial intelligence and studying at Krishna Public School.
            In my free time, I'm also a beginner kickboxer."
            </p>
        </div>
    </div>

    <h2 id="soc">SOCIALS</h2>
    <div class="socials" id="socials">
        <a href="mailto:invasionyt19@gmail.com?subject=Hello!&body=Hey!"><img src="/static/mail.svg"></a>
        <a href="https://instagram.com/nixo.nxc"><img src="/static/insta.svg"></a>
        <a href="https://www.youtube.com/@nixonxc7157"><img src="/static/yt.svg"></a>
        <a href="https://discord.gg/efQhHPfsWS"><img src="/static/discord.svg" id="discord" class="tooltip"></a>
    </div>

    <div class="footer">
        <h3>© 2023 Atharva Kulkarni</h3>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>